{% extends 'base.html'%}

{% block content %}
<h1>Create recipe</h1>

<h2>{{ error }}</h2>
<h3>Fullfill this form to create new recipe</h3>
<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="option" value="increase">
    <input type="hidden" name="product_num" value={{ product_num }}>
    <button type="submit">Increase product number</button>
</form>
<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="option" value="decrease">
    <input type="hidden" name="product_num" value={{ product_num }}>
    <button type="submit">Decrease product number</button>
</form>
<form method="POST">
    {% csrf_token %}
    {% for product_form in product_formset%}
        {{ product_form.as_p}}<br>
    {% endfor %}
    {{ text_form.as_p}}
        <button type="submit" name="add" value="product">Create recipe</button>
</form>
{% endblock %}