{% extends 'base.html'%}

{% block content %}
<h1> All products</h1>
<ul>
    {% for product in products %}
    <li>
        <form method="GET" action="{% url 'products:edit' product.id %}">
            {{ product.name }}
            <button type="submit"> edit </button>
        </form>
        </a>
    </li>
    {% endfor %}
</ul>
<h3>MAKE TO THIS SECTION SPECIAL ACCESS</h3>
<form method="GET" action="{% url 'products:create' %}">
    <button type="submit"> Create new product </button>
</form>
{% endblock %}