{% extends 'base.html'%}

{% block content %}
<h1> All products</h1>
<ul>
    {% for product in products %}
    <li>
        <form method="GET" action="{% url 'products:product' product.id %}">
            {{ product.name }}
            <button type="submit"> Edit </button>
        </form>
        <form method="POST" action="{% url 'products:product' product.id %}">
            {% csrf_token %}
            <input type="hidden" name="delete" value="delete">
            <button type="submit" class=b_red> Delete </button>
        </form>
        </a>
    </li>
    {% endfor %}
</ul>
<h3>MAKE TO THIS SECTION SPECIAL ACCESS</h3>
<form method="POST">
    {% csrf_token %}
    <input type="hidden" name="enter" value="enter">
    <button type="submit"> Create new product </button>
</form>
{% endblock %}